# version: 1.0.0
# modified: 2026-02-20

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
max_line_length = off

[Makefile]
indent_style = tab

[*.{sh,bash}]
indent_style = space
indent_size = 2

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2

[*.{xml,xsd,xslt,sch}]
indent_style = space
indent_size = 2

[*.html]
indent_style = space
indent_size = 2

[*.{js,jsx,ts,tsx,mjs,cjs}]
indent_style = space
indent_size = 4

[*.css]
indent_style = space
indent_size = 4

[*.py]
indent_style = space
indent_size = 4

[*.php]
indent_style = space
indent_size = 4

[*.go]
indent_style = tab
indent_size = 8

[*.java]
indent_style = space
indent_size = 4

[*.sql]
indent_style = space
indent_size = 4

[*.twig]
indent_style = space
indent_size = 2

[*.neon]
indent_style = space
indent_size = 4

[*.vue]
indent_style = space
indent_size = 2

[go.mod]
indent_style = tab
