parameters:
  level: 8
  paths:
    - src
    - tests
  excludePaths:
    - var
    - vendor
  
  # Framework extensions (uncomment as needed)
  # symfony:
  #   container_xml_path: var/cache/dev/App_KernelDevDebugContainer.xml
  
  # Doctrine extension (uncomment as needed)
  # doctrine:
  #   objectManagerLoader: tests/object-manager.php

includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
  - vendor/shipmonk/dead-code-detector/rules.neon


